.select {
  overflow: hidden;

  &:not(:last-child) {
    // margin-bottom: 1rem;
  }

  &__header {
    font-family: $font-primary;
  }

  &__options {
    height: 8rem;
    list-style: none;
    overflow: scroll;
    border: 1px solid $color-black;
  }
}