.sidebar {
  display: block;
  position: fixed;
  width: 100vw;
  top: calc($height-nav + $height-controlbar);
  bottom: $height-footer;

  transform: translateX(0%);
  transition: transform .5s ease-in-out;

  color: $color-black;
  background-color: $color-white;

  &__content {
    position: fixed;
    height: 100%;
    width: 100%;
  }

  &--closed {
    transform: translateX(-100%);
  }

  &__close-button {
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    border: none;
    z-index: 5;
  }
}