.sidebar {
  display: none;
  position: absolute;
  width: 100vw;
  top: calc($height-nav + $height-controlbar);
  bottom: $height-footer;

  background-color: bisque;

  &__content {
    position: relative;
    height: 100%;
  }

  &__open {
    display: block;
  }

  &__close-button {
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    border: none;
  }
}