.details-display {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, max-content) repeat(2, 1fr);
  gap: 1rem;

  padding: 0 1rem;
  margin-bottom: 1rem;

  &__header {
    position: relative;
    text-align: center;
  }

  &__name {
    text-transform: uppercase;
    font-family: $font-primary;
  }

  &__edit-link {
    transform: translateX(8rem);
    font-style: italic;
    text-decoration: underline;
  }

  &__image-container {
    position: relative;
    width: 10rem;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__details {
    padding: 0 1rem;
  }

  &__sub-header {
    font-family: $font-primary;
  }

  &__list {
    height: 20rem;
    overflow: scroll;
  }
}