.reset {
  margin-right: 1rem;
  font-size: $font-size-small;

  &__button {
    &,
    &:active {
      padding: .5rem;
      border: 1px solid $color-white;
    }
   
    &:hover {
      background-color: $color-white;
      color: $color-black;
    }
  }
}