.reset {
  margin-right: 1rem;
  font-size: 1.2rem;

  &__button {
    padding: .5rem;
    border: 1px solid $color-white;

    &:hover {
      background-color: $color-white;
      color: $color-black;
    }
  }
}