.filter-options {
  &__option {
    grid-column: span 2;
    flex: 1;
    background-color: red;
  }

  &__button {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
    background-color: transparent;
    border: none;
  }
}