.nav-links {
  position: fixed;
  top: $height-nav;
  left: 25%;
  right: 0;
  bottom: 0;
  padding: 3rem;
  z-index: 20;

  list-style: none;
  background-color: rgb(255, 255, 255, .8);

  font-family: $font-primary;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;

  transform: translateX(0%);
  transition: transform .5s ease-in-out;

  &--closed {
    transform: translateX(100%);
  }
}