.grid {
  display: grid;
  grid-template-columns: 1fr;

  &__home {
    grid-template-rows: 
      $nav-height 
      $filter-bar-height 
      $main-content-home-height 
      $footer-height;
  }

  &__page {
    grid-template-rows: 
      $nav-height 
      $main-content-page-height 
      $footer-height;
  }
}