.grid {
  display: grid;
  grid-template-columns: 1fr;

  &__form {
    grid-template-rows: 
      $height-nav 
      $height-controlbar
      $height-main-content--home
      $height-footer;
  }

  &__default {
    grid-template-rows: 
      $height-nav 
      $height-main-content--page
      $height-footer;
  }
}