.filterbar {
  display: flex;
  grid-column: 1 / -1;

  background-color: purple;

  &__options {
    display: flex;
    height: 100%;
    width: 100%;

    list-style: none;
  }

  &__option {
    flex: 1;
    background-color: red;
  }

  &__button {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
    background-color: transparent;
    border: none;
  }
}