.util-remove-link-styles {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    color: currentColor;
  } 
}

.util-default-button {
  cursor: pointer;
  border: none;
  background: none;
  color: currentColor;
  font-size: inherit;
  font-family: inherit;
  text-transform: inherit;
}