// grid
$height-controlbar: 5rem;
$height-nav: 5rem;
$height-footer: 5rem;
$height-main-content--home: calc(100vh - $height-nav - $height-controlbar - $height-footer);
$height-main-content--page: calc(100vh - $height-nav - $height-footer);

// typography
$font-primary: 'Oswald', 'open-sans';