.filterbar {
  grid-column: 1 / -1;

  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(6, 1fr);
  
  background-color: purple;

  &__option {
    grid-column: span 2;
    flex: 1;
    background-color: red;

    &--search {
      grid-column: span 5;
    }

    &--reset {

    }
  }

  &__button {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
    background-color: transparent;
    border: none;
  }

  &__search {
    width: 80%;
  }

  &__reset {

  }
}