.dropdown {
  display: flex;
  width: 100%;
  border-bottom: 1px solid black;

  &__header {
    font-family: $font-primary;
  }

  &__list {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 0 .5rem;
    text-align: center;
    list-style: none;

    
  }

  &__item {
    text-transform: uppercase;
    display: none;

    &--selected {
      display: block;
    }
  }

  &__change-button {
    font-style: italic;
    text-decoration: underline;
    font-size: $font-size-small;
  }
}