.dropdown {
  display: flex;
  position: relative;
  width: 100%;
  border-bottom: 1px solid black;

  &__header {
    font-family: $font-primary;
  }

  &__selection {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 0 .5rem;
    text-align: center;
    text-transform: uppercase;
  }

  &__list {
    position: absolute;
    top: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    list-style: none;

    background-color: $color-white;
    border: 1px solid $color-black;

    &--closed {
      display: none;
    }
  }

  &__item {
    display: block;
    text-transform: uppercase;

    &--selected {
      background-color: rgba(0, 0, 0, .4);
    }
  }

  &__change-button {
    font-style: italic;
    text-decoration: underline;
    font-size: $font-size-small;
  }
}